In [2]:
import camelot
 
# extract all the tables in the PDF file
tables = camelot.read_pdf("pdfs/pdf1.pdf", pages='1-end')   #address of file location
 
# print the first table as Pandas DataFrame
# tables_df = tables[6].df.head()

In [3]:
# print how many tables were extracted
print('Total tables extracted:', tables.n)

Total tables extracted: 12

# Cleaning

In [4]:
def get_empty_rows(dataset):
    # Nested 'for' loop and unique value list of 'set'
    return list(set([i for i, s in dataset.iterrows() for v in s.values if str(v) == 'nan']))

import pandas as pd

# for table in tables:
#     df = table.df
#     break

year = "2021"


# Declarar cabecera
# header = df.iloc[0]
header = ['NRO'
          ,'RUC'
          ,'NOMBRE O RAZON SOCIAL'
          ,'APORTE TOTAL(mm)'
        ]

# create a empty dataframe
df_contenedor = pd.DataFrame(columns=header)

# iterar por cada tabla del PDF
for table in tables:
    df = table.df
    # remove the first row with loc
    df = df.loc[1:]
    df.columns = header
    df['ANHO'] = year


    # remove rows with empty string based on NRO column with loc
    df = df.loc[df['NRO'] != '']
    # df = df.loc[df['NRO'].notnull()]
    # df = df.dropna(subset=['Nro'])

    # concatenate the dataframe into a container dataframe
    df_contenedor = pd.concat([df_contenedor, df], ignore_index=True)

    list_of_empty_rows = get_empty_rows(df)

    # year -= 1


    # break
    # print(df)
    # Guardar en CSV
    # df.to_csv('csvs/csv1.csv', mode='a', header=True, index=False)


# limpiar lineas innecesarias


list_of_empty_rows

/tmp/ipykernel_811/1469584027.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_811/1469584027.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_811/1469584027.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_811/1469584027.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_811/1469584027.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_811/1469584027.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_811/1469584027.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_811/1469584027.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_811/1469584027.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_811/1469584027.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_811/1469584027.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year
/tmp/ipykernel_811/1469584027.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ANHO'] = year

[]

In [5]:
df_contenedor.head(5)

,NRO,RUC,NOMBRE O RAZON SOCIAL,APORTE TOTAL(mm),ANHO
0,1,80009735,ADMINISTRACION NACIONAL DE ELECTRICIDAD - ANDE,336.481,2021
1,2,80008790,TABACALERA DEL ESTE SA,198.331,2021
2,3,80002201,BANCO ITAU PARAGUAY S.A,174.807,2021
3,4,80003400,PARAGUAY REFRESCOS SA,147.677,2021
4,5,80086846,CERVEPAR S.A.,146.989,2021

In [6]:
df_contenedor.tail(5)

,NRO,RUC,NOMBRE O RAZON SOCIAL,APORTE TOTAL(mm),ANHO
495,496,80037706,BUREAU VERITAS PARAGUAY SOCIEDAD DE RESPONSABI...,3.303,2021
496,497,80026564,CHACO INTERNACIONAL SA,3.293,2021
497,498,80105006,WILLFARM SOCIEDAD ANONIMA,3.289,2021
498,499,80024060,ATENIL SA (SUC. PARAGUAY),3.261,2021
499,500,80082380,GRANOS Y NUTRICIÓN SOCIEDAD ANÓNIMA,3.259,2021